.policy {
    padding-top: calc(var(--sc-pd) - 2rem);

    @include max(1400px) {
        padding-top: 2rem;
    }

    .container {
        @include max(1400px) {
            max-width: 123rem;
        }
    }

    &__wrapper {
        width: 1396px;
        max-width: 100%;
        padding: 0 1.6rem;
        margin-left: auto;
        margin-right: auto;
        color: #fff;

        @include max(400px) {
            padding: 0 1.6rem;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 30rem;
        gap: 2.4rem;
        padding: 2rem;

        @include max(800px) {
            width: fit-content;
        }

        @include max(400px) {
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
        }

        &-tab {
            border: 0.1rem solid transparent;
            transition: 0.4s;
            width: 100%;

            border-radius: 10rem;
            background: rgba(182, 111, 41, 0.08);

            @include max(400px) {
                border-color: #B66F29;
            }
        }

        &-tab.active {
            border-color: #B66F29;
        }

        a {
            display: flex;
            align-items: center;
            gap: 1.6rem;
            padding: 1.6rem 2.4rem;
        }

        img {
            width: 32px;
        }

        span {
            color: var(--color-white);
            text-align: left;
            align-self: center;
            font-family: Noto Sans;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.88rem;
        }
    }

    &__right {
        width: 100%;
        max-width: 110.1rem;
        padding: 2rem;
        position: relative;

        h1 {
            margin: 10px 0;
            font-size: 36px;
        }

        p {
            margin: 10px 0;
            line-height: 1.6;
            font-size: 1.6;
            font-style: normal;
            font-weight: 400;
        }
    }

    .tabBtn {
        cursor: pointer;
    }

    .tabPanel {
        display: none;
    }

    .tabPanel.open {
        display: block;
        animation: tabUp 0.6s ease forwards;
    }

}