@font-face {
    font-family: 'SVN-Saudagar';
    src: url('SVN-Saudagar-Regular.woff2') format('woff2'),
        url('SVN-Saudagar-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}