.form__list {
    padding: 4.8rem 2.8rem;
    font-style: normal;
    width: calc(100% - 2.4rem);
    color: #052143;
    font-weight: 700;
    border-radius: 1rem;
    background: #FFF;
    @include flexCenter;
    flex-wrap: wrap;

    @include max(1000px) {
        padding: 0;
    }
}

.list__item {
    width: 50%;
    padding: 1.6rem;
    padding-bottom: 4.4rem;

    @include max(800px) {
        width: 100%;
        padding: 1.6rem 0;
    }

    .asterisk {
        color: red;
    }

    input {
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px #DADADA solid;
        letter-spacing: 0.4px;
        // @include textHl;
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--color-white);
        background: transparent;
    }

    .wpcf7-submit {
        border: none;
        cursor: pointer;
        position: static;
        z-index: 2;
        @include textHl;
    }

    .wpcf7-spinner {
        display: none;
    }
}

.wpcf7-not-valid-tip {
    color: red;
    font-size: 1.2rem;
}

.wpcf7 form.invalid .wpcf7-response-output {
    color: red;
    font-size: 1.2rem;
    border: none;
    text-align: center;
    margin-top: 0;
}

.list__item:nth-child(5) {
    width: 100%;

    textarea {
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px #DADADA solid;
        letter-spacing: 0.4px;
        background-color: transparent;
    }
}

.list__item:nth-child(6) {
    width: 100%;

}

.booking__form {
    background-color: transparent;
    position: relative;
    z-index: 2;

    .list__item {
        &-text {
            color: var(--color-text-secondary);
            margin-bottom: 0.8rem;
            display: block;
            font-size: 1.6rem;
            font-weight: 500;
        }

        &-input {
            // background: transparent;
            color: var(--color-white);
        }
    }
}

input,
textarea {
    color: #fff;
    /* Thay đổi màu chữ thành màu đỏ (#ff0000) */
}